@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: white;
}
nav{
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}
.left-nav{
    width: 27%;
    /* background-color: aquamarine; */
}
.left-nav img{
    width: 200px;
    position: relative;
    bottom: 15px;
    left: 30px;

}
.mid-nav{
    width: 50%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mid-nav ul{
    width: 90%;
/* background-color: bisque; */
list-style: none;
display: flex;
align-items: center;
justify-content: space-evenly;

}
.mid-nav ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;;
}
.right-nav{
    width: 20%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.right-nav .btn{
    height: 40px;
    width: 25%;
    background-color: rgb(4, 103, 4);
    border: none;
    border-radius: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.right-nav a{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(4, 103, 4);
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;;
  
}
.hero-section{
    height: 500px;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
}
.hero-section .left{
    width: 50%;
    /* background-color: cadetblue; */
    height: auto;
}
.box{
    width: 70%;
    height: 450px;
    /* background-color: rgb(184, 222, 135); */
    margin-left: 70px;
    margin-top: 80px;
}
.hero-section .right{
    width: 50%;
    /* background-color: darkgray; */
}
.hero-section .right img{
    position: relative;
    top: 13px;
}

.left a{
    text-decoration: none;
    color: rgb(4, 103, 4);
    margin-left: 50px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.left i{
    margin-right: 5px;
}
.left .btnn{
    height: 40px;
    width: 150px;
    background-color: white;
    color: rgb(4, 103, 4);
    font-family:  "Montserrat", sans-serif;;
    border: none;
    border-radius: 10px;
    border: 1px 1px 1px solid black;
    box-shadow: 10px 10px #0f6b03;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    border-top: 2px solid #000000;
border-right: 1px solid #000000;
border-bottom: 1px solid #000000;
border-left: 2px solid rgba(0,0,0,0.88);
    cursor:pointer;
}
 
.left h1{
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}
.left p{
    margin-top: 20px;
    font-size: 20px;
    color:rgb(52, 52, 52);
    line-height: 35px;
    font-family:  "Montserrat", sans-serif;

}
.circle1{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 70px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .inner-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
} */
.circle2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:2px solid black;
   display: flex;
   align-items: center;
   justify-content: center;

}
.circle2 img{
    height: 110px;
}
/* .inner-circle:first-child{
    position: relative;
bottom: 40px;
left: 60px;
} */

.cards-part{
    height: 30%;
    width: 100%;
    /* background-color: chocolate; */
    margin-top: 30px;
    display: flex;
}
/* .outer-box{
    height: 180px;
    width: 280px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    bottom: 20px;
    right:300px ;
}
.box1{
    height:250px;
    width: 50%;
    background-color: rgb(42, 165, 132);
    display: flex;
    align-items: center;
    padding-left: 50px;
    justify-content: center;
}
.inner-box{
    height: 180px;
    width: 280px;
    background-color:rgb(152, 200, 216);
    border-radius: 15px;
    position: relative;
    bottom: 50px;
}
 */
.first-part{
    height:100%;
    width:25%;
/* background-color: aquamarine; */
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.second-part{
    height:100%;
    width:25%;
/* background-color: rgb(140, 127, 255); */
display: flex;
align-items: center;
justify-content: center;
flex-wrap:wrap ;
}
.third-part{
    height:100%;
    width:25%;
/* background-color: rgb(144, 255, 127); */
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.forth-part{
    height:100%;
    width:25%;
/* background-color: rgb(234, 127, 255); */
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.card1{
    height: 120px;
    width: 270px;
    background-color: 
    #d77b6c
    ;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    /* align-items: center;
    justify-content: center;
     */
}
.card-1-card{
    height: 130px;
    width: 500px;
    border: 1px solid rebeccapurple;
    border-right: 1px solid black;
    border-radius: 20px;
    position: relative;
    left: 10px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.card-box{
    height: 70px;
    width:70px;
    border-radius: 50%;
    /* background-color: rgb(91, 42, 165); */
    /* background-image: url(./image\ copy\ 2.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .card-box img{
    height: 70px;
    position: relative;
    top: 20px;
    left: 30px;
} */
.refresher{
    width: 50%;
    /* background-color: aquamarine; */
}
.mango{
    width: 50%;
    /* background-color:yellow ; */
}
.mango p{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.card-box:first-child img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;

    /* outline: 2px dashed gray; */
   
    /* position: relative;
    top: 10px;
    overflow: hidden; */
    /* left: 30px; */

}
.card-box :nth-child(2){
    background-image: url(./lemon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: red;
}
.card-box :nth-child(3){
    background-image: url(./lemon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;

}
/* responsive */
@media(max-width:768px) {
    .container{
        height: 100vh;
        width: 100%;
    }
    nav{
        height: 10%;
        width: 100%;
        /* background-color: aqua; */
    }
    .left-nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    .left-nav img{
        width: 250px;
    }
    .right-nav{
        display: none;
    }
    .mid-nav{
        display: none;
    }
    .hero-section{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .hero-section .left{
        width: 100%;
        height: auto;
    }
    .hero-section .right{
        width: 100%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .box{
        width: 90%;
        height: 400px;
        /* background-color: rgb(184, 222, 135); */
        margin-left: 90px;
        margin-top: 80px;
    }
    .cards-part{
        height:30%;
        width: 100%;
        /* background-color: chocolate; */
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .first-part{
        height:100%;
        width:100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .second-part{
        height:100%;
        width:100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .third-part{
        height:100%;
        width:100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .forth-part{
        height:100%;
        width:100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    .card1{
        height: 120px;
        width: 270px;
        background-color: #f4745f;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .card-1-card{
        height: 130px;
        width: 500px;
        border: 1px solid rebeccapurple;
        border-right: 1px solid black;
        border-radius: 20px;
        position: relative;
        left: 10px;
        top: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    
    }
    


    
}